/target/
*.dll
.settings/
.idea/
out/
*.iml
.project
*.ttc
application.properties
application.yml
/.apt_generated/
/ABAP_AS_WHIT_POOL.jcoDestination
tomcat/
/ABAP_AS_WITH_POOL.jcoDestination
/wkhtmltopdf.exe
app/
/files
logs/
/src/main/resources/rebel.xml
