<link rel="stylesheet" th:href="@{/static/first/busicommon/css/element.css}" />
<link rel="stylesheet" th:href="@{/static/first/busicommon/css/common.css}" />
<link rel="stylesheet" th:href="@{/static/first/busicommon/css/notice.css}" />

<div id="app">
  <!-- 通知公告 -->
  <el-row class="notice-content" v-show="noticeData.length != 0">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="roll-content">
      <el-row style="margin-top: 8px" v-for="(item, index) in noticeData" :key="index" :gutter="20">
        <el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
          <div class="notice-title2">{{ item.title }}</div>
        </el-col>
        <el-col :xs="13" :sm="13" :md="13" :lg="13" :xl="13">
          <div class="notice-info" :title="item.content">{{ item.content }}</div>
        </el-col>
        <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
          <div class="notice-time">{{ item.time }}</div>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
  <div class="notice-none" v-show="noticeData.length == 0">
    <img th:src="@{/static/first/busicommon/img/none.png}" alt="" />
    <span>暂无公告</span>
  </div>
</div>

<script th:src="@{/static/first/busicommon/js/vue.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/echarts.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/axios.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/element.js}"></script>
<script th:src="@{/static/first/busicommon/js/g2.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/choose-type.js}"></script>

<script>
  var urlValue = getRequestParam(document.URL);
  if (urlValue.type == undefined) {
    urlValue.type = "";
  }
  var mtlType = getRequestParam(document.URL);
  // console.log(mtlType, 'mtlType');

  const app = new Vue({
    el: "#app",
    data: {
      // 通知公告
      noticeData: [
        /* {
          title: "消息",
          content: "layui前端框架后台胸html模板",
          time: "2020/07/05",
        },
        {
          title: "公告",
          content: "最新发布B/S管理界面设计",
          time: "2020/07/05",
        },
        {
          title: "系统",
          content: "uimaker信息管理系统后台界面",
          time: "2020/07/05",
        },
        {
          title: "消息",
          content: "兼容IE8及以上主流浏宽器",
          time: "2020/07/05",
        },
        {
          title: "消息",
          content: "layui前端框架后台胸html模板",
          time: "2020/07/05",
        },
        {
          title: "公告",
          content: "最新发布B/S管理界面设计",
          time: "2020/07/05",
        },
        {
          title: "系统",
          content: "uimaker信息管理系统后台界面",
          time: "2020/07/05",
        },
        {
          title: "消息",
          content: "兼容IE8及以上主流浏宽器",
          time: "2020/07/05",
        }, */
      ],
    },
    // 实例被挂载后调用
    created: function () {
      this.getData();
    },
    // 在 `methods` 对象中定义方法
    methods: {
      getData() {
        if (mtlType.hasOwnProperty('type') == true) {
          var this_ = this;
          parent.Gikam.post(parent.IFM_CONTEXT + '/first/busicommon/notice/' + urlValue.type).done(function (data) {
            var vueData = [];
            if (data.length == 0) return;
            for (var i = 0; i < data.length; i++) {
              var tem = {};
              tem.title = data[i].infoCategory;
              tem.content = data[i].title;
              tem.time = data[i].createdTime;
              vueData.push(tem);
            }
            this_.noticeData = vueData;
          });
        } else if (mtlType.hasOwnProperty('type') == false) {
          var this_ = this;
          parent.Gikam.post(parent.IFM_CONTEXT + '/secure/core/module/item/notices/queries/index').done(function (data) {
            var vueData = [];
            if (data.length == 0) return;
            for (var i = 0; i < data.length; i++) {
              var tem = {};
              tem.title = data[i].infoCategory;
              tem.content = data[i].title;
              tem.time = data[i].createdTime;
              vueData.push(tem);
            }
            this_.noticeData = vueData;
          });
        }

      },
    }
  });

</script>