<link rel="stylesheet" th:href="@{/static/first/busicommon/css/common.css}" />


<div id="app" class="baifenbai">
  <el-row class="baifenbai" style="padding:100px;">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="baifenbai">
      <div id="echarts" class="baifenbai"></div>
    </el-col>
  </el-row>
</div>

<script th:src="@{/static/first/busicommon/js/vue.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/echarts.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/axios.min.js}"></script>
<script th:src="@{/static/first/busicommon/js/choose-type.js}"></script>

<script>
  var urlValue = getRequestParam(document.URL);
  if (urlValue.type == undefined) {
    urlValue.type = "";
  }
  const app = new Vue({
    el: "#app",
    data: {
      pointData: []
      // [
      // {
      //   value: [90, 38, 45]
      // },s
      // {
      //   value: [88, 45, 38]
      // },
      // {
      //   value: [88, 40, 32]
      // },
      // {
      //   value: [86, 40, 27]
      // },
      // {
      //   value: [85, 40, 20]
      // },
      // {
      //   value: [90, 40, 15]
      // },
      // {
      //   value: [90, 37, 8]
      // },
      // {
      //   value: [90, 36, 1]
      // },
      // {
      //   value: [90.5, 38.5, 45]
      // },
      // {
      //   value: [88.5, 45.5, 38]
      // },
      // {
      //   value: [88.5, 40.5, 32]
      // },
      // {
      //   value: [86.5, 40.5, 27]
      // },
      // {
      //   value: [85.5, 40.5, 20]
      // },
      // {
      //   value: [90.5, 40.5, 15]
      // },
      // {
      //   value: [90.5, 37.5, 8]
      // },
      // {
      //   value: [90.5, 36.5, 1]
      // }
      // ]
    },
    created: function () {
      this.getData()
    },
    // 在 `methods` 对象中定义方法
    methods: {
      getData() {
        var this_ = this;
        var maxValue = 0;
        parent.Gikam.post(parent.IFM_CONTEXT + '/first/busicommon/hotPointMap/queries/' + urlValue.type).done(function (data) {
          this_.pointData = data.map(item => {
            return {
              value: [item.latitude, item.longitude, item.value]
            }
          })
        }).done(function () {
          this_.$nextTick(() => {
            this_.showProvince(maxValue);
          });
        });
      },
      showProvince() {
        var _this = this;
        const myChart = echarts.init(document.getElementById("echarts"));
        const uploadedDataURL = parent.IFM_CONTEXT + "/static/first/busicommon/map/310000.geoJson";
        axios.get(uploadedDataURL).then(res => {
          const geoJson = res.data;
          echarts.registerMap("bj", geoJson);
          myChart.setOption(
            (option = {
              backgroundColor: "#fff",
              visualMap: {
                right: "5%",
                bottom: "5%",
                min: 0,
                max: 50,
                calculable: true,
                inRange: {
                  color: ["#FFDBCF", "#FFBB67", "#E84441"]
                },
                textStyle: {
                  color: "#000"
                }
              },
              geo: {
                map: "bj",
                label: {
                  normal: {
                    show: false,
                    color: "#000"
                  },
                  emphasis: {
                    show: false
                  }
                },
                roam: true, //是否允许缩放
                layoutCenter: ["50%", "50%"], //地图位置
                layoutSize: "95%",
                itemStyle: {
                  normal: {
                    color: "#F1F3FF", //地图背景色
                    borderWidth: 1, //设置外层边框
                    borderColor: "#E3E3E3", //省市边界线
                    shadowColor: "#E3E2DE", // 阴影颜色
                    shadowBlur: 20 // 图形阴影的模糊大小
                  },
                  emphasis: {
                    color: "#E3E3E3" //悬浮背景
                  }
                }
              },
              tooltip: {
                show: true,
                formatter: "{b}"
              },
              series: [
                {
                  type: "map",
                  map: "bj",
                  geoIndex: 0,
                  aspectScale: 0.75, //长宽比
                  showLegendSymbol: false, // 存在legend时显示
                  label: {
                    normal: {
                      show: false
                    },
                    emphasis: {
                      show: false,
                      textStyle: {
                        color: "#000"
                      }
                    }
                  },
                  roam: true,
                  itemStyle: {
                    normal: {
                      areaColor: "#031525",
                      borderWidth: 1, //设置外层边框
                      borderColor: "#E3E3E3" //省市边界线
                    },
                    emphasis: {
                      areaColor: "#2B91B7"
                    }
                  },
                  animation: false,
                  data: []
                },
                {
                  name: "credit_pm2.5",
                  type: "scatter",
                  coordinateSystem: "geo",
                  data: _this.pointData,
                  label: {
                    normal: {
                      formatter: "{b}",
                      position: "right",
                      show: true
                    },
                    emphasis: {
                      show: true
                    }
                  },
                  itemStyle: {
                    normal: {
                      color: "#05C3F9"
                    }
                  }
                }
              ]
            })
          );

          // 屏幕响应并对页面进行改变
          window.onresize = () => {
            myChart.resize();
          };
        });
      }
    }
  });
</script>