/* 公共样式 */
* {
  margin: 0;
  padding: 0;
}
.baifenbai {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  /* background-color: #111449; */
  /* background-image: url('../image/bg/header.jpg'); */
}

/* 头部 */
.header {
  height: 100%;
  width: 100%;
  background-image: url("../image/topTitleBar.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

.header .header-title {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 0%;
  line-height: 86px;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0;
}
